*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #E7E7E7;
    padding-top: 100px;
}

h1{
    margin-bottom: 40px;
}

.form-task{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input, button{
    padding: 8px;
}

button{
    cursor: pointer;
    font-weight: bold;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container ol li{
    cursor: pointer;
    padding-bottom: 15px;
}